.patent {
  padding: 40px 20px;
  background: #f4f4f4;
  min-height: 100vh;
}

.patent-title {
  text-align: center;
  font-size: 29px;
  margin-bottom: 30px;
  color: #0A192F;
}

.table-container {
  overflow-x: auto;
}

.patent-table {
  width: 68%;
  border-collapse: collapse;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.patent-table th,
.patent-table td {
  border: 2px solid #222;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.patent-table th {
  background: #dceef7;
  color: #0A192F;
  font-size: 18px;
}

.patent-table td {
  font-size: 16px;
  line-height: 1.6;
}

.patent-table td:nth-child(2) {
  text-align: left;
}

/* MOBILE */
@media (max-width: 768px) {

  .patent-title {
    font-size: 28px;
  }

  .patent-table th,
  .patent-table td {
    font-size: 14px;
    padding: 10px;
  }

}