.research-guidance {
  padding: 40px 20px;
  background: #f4f4f4;
  min-height: 100vh;
}

.research-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  color: #0A192F;
}

.research-table-container {
  overflow-x: auto;
}

.research-table {
  width: 65%;
  border-collapse: collapse;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.research-table th,
.research-table td {
  border: 2px solid #222;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.main-heading {
  font-size: 18px;
  line-height: 1.6;
  background: #eef6fb;
  color: #0A192F;
}

.research-table th {
  background: #dceef7;
  font-size: 18px;
}

.research-table td {
  font-size: 16px;
  line-height: 1.5;
}

/* MOBILE */
@media (max-width: 768px) {

  .research-title {
    font-size: 28px;
  }

  .main-heading {
    font-size: 18px;
  }

  .research-table th,
  .research-table td {
    font-size: 14px;
    padding: 10px;
  }

}
/* MOBILE CARD */
.mobile-research-card {
  display: none;
}

/* MOBILE VIEW */
@media (max-width: 768px) {

  /* HIDE TABLE */
  .research-table-container {
    display: none;
  }

  /* SHOW CARD */
  .mobile-research-card {
    display: block;

    background: white;

    padding: 22px;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

    border-left: 5px solid #2b6cb0;

    margin-top: 20px;
  }

  .mobile-research-card h3 {
    color: #2b6cb0;

    margin-bottom: 20px;

    text-align: center;
  }

  .mobile-research-card p {
    margin-bottom: 14px;

    line-height: 1.7;

    color: #444;
  }

  .mobile-research-card strong {
    display: block;

    color: #0A192F;

    margin-bottom: 5px;
  }

}